.register-text{
    width: 80%;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin: 15px 0px;
    color: grey;
}

.login-with-fb-register{
    width: 80%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    background-color: #299EF7;
    color: #FFF;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
}

.reg-form-text{
    font-size: 12px;
    color: gray;
    font-weight: 300;
    width: 90%;
    text-align: center;

    a{
        color: grey;
        font-weight: 500;
    }
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #299EF7;
    font-size: 12px;
    border: none;
    outline: none;
    
  }

  .swal-button:not([disabled]):hover{
    background-color: #299EF7;
    border: none;
  }

  .swal-container{
    background-color: #F8F8F8;
  }

  .swal-modal {
    border: 3px solid #299EF7;
  }

  .swal-title {
    margin: 0px;
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
  }
.Toastify__toast-icon{
    font-size: 30px;
    color: darkred;
}
