.top-bar-container{
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    
    .top-bar-wrapper{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            margin-bottom: -4px;
            margin-left: -25px;
            a{
                width: 175px;
                height: 50px;
                background-image: url('./logo.png');
                display: inline-block;
                background-position: 0px -53px;
                transform: scale(0.7);
            }
        }

        .search-box{
            display: flex;
            background-color: #efefef;
            width: 270px;
            height: 35px;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;

            button{
                border: none;
                padding: 0px 10px;
            }

            input{
                background-color: #efefef;
                border: none;
                width: 90%;
            }
        }

        .top-bar-menu{
            ul{
                display: flex;
                justify-content: flex-end;
                gap: 20px;
                align-items: center;

                li{
                    a{
                        font-size: 24px;
                        color: #000;
                        font-weight: 500;

                        img{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

    }
}